/* Write your CSS here */

.Main-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #07080c;
}

.speedometerImg {
  width: 500px;
  height: 300px;
}

.heading {
  color: #ffffff;
}

.content-container {
  text-align: center;
  color: #ffffff;
}

.accelerate {
  margin-right: 40px;
  padding: 10px;
  background-color: #0b69ff;
  color: #ffffff;
  border-radius: 5px;
}

.break {
  padding: 8px;
  border: 1px solid #ffffff;
  background-color: #07080c;
  color: #ffffff;
  border-radius: 5px;
}
